html{
    font-size : 62.5%
}
body {
    background-color: #fafafa
  }
#title{
    display: flex;
    justify-content: right;
}
#content{
    display: flex;
    justify-content: right;
}
h1{
    font-size: 7.2rem;
}
p{
    font-size: 1.6rem;
}
input{  
    font-size:16px
}
li{
    font-size: 1.4rem
}
h3{
    font-size: 3.6rem
}
.logo{
    display: flex;
    justify-content: center;
    /* margin: auto;
    width: 30%;
    padding: 10px; */
    
}
#mockl-up-2{
    margin: auto;
    width: 50%;
    padding: 10px;
}

